{% extends 'tag/index.html.twig' %}

{% block title %}Edytuj tag - Mój Blog{% endblock %}

{% block content %}
<div class="card mb-5">
    <div class="card-header">
        <h2>Edytuj tag</h2>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
            {{ form_row(form.title, {'label': 'Nazwa tagu'}) }}
            <button type="submit" class="btn btn-success">Zapisz zmiany</button>
        {{ form_end(form) }}
    </div>
</div>

{% block table %}
    {{ parent() }}
{% endblock %}
{% endblock %}